$link-color: #fff;
$hover-color: #d30000;

.header {
   height: 8vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__logo {
      width: 90px;
      height: 36px;
   }
}

.fa-ellipsis {
   transition-duration: 0.4s;
   color: $link-color;
}

.fa-ellipsis:hover {
   color: $hover-color;
}

@media screen and (min-width: 320px) {
   .nav {
      &__list {
         list-style: none;
      }
      &__link {
         display: none;
      }
   }
}

@media screen and (min-width: 768px) {
   .header {
      height: 15vh;
      margin-bottom: 100px;
   }

   .nav {
      min-width: 303px;
      display: flex;
      &__list {
         width: 100%;
         max-width: 303px;
         display: flex;
         justify-content: space-between;
      }
      &__li {
         list-style: none;
      }
      &__link,
      &:visited {
         color: $link-color;
         text-decoration: none;
         font-size: 1.333rem;
         line-height: 140%;
         transition-duration: 0.4s;
         margin-right: 30px;
         &:hover,
         &:active {
            color: $hover-color;
            text-underline-offset: 18px;
            text-decoration: underline;
         }
      }
   }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
   .nav {
      &__link {
         display: flex;
      }
   }
}

@media screen and (min-width: 1100px) {
   .header {
      height: 20vh;
   }
   .nav {
      min-width: 267px;
      display: flex;
      &__list {
         width: 100%;
         max-width: 267px;
      }
   }
}
